/* Add any new styles here */
.items .item p {
    text-align: center;
    color: #EBEBFB;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #EBEBFB;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: darkorange;
    color: black;
}
